.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas fijas para lograr la cuadrícula 4x2 */
    gap: 1em;
}

.product-card {
    background-color: #e6f7ff;
    border: 1px solid #0077cc;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
}

.product-card button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    cursor: pointer;
    border-radius: 4px;
}